<div class="content">
	<form name="formContratacoes" novalidate="">
	    <table class="table table-sm">
	        <thead>
	            <tr>
	                <!-- <th width="2%"></th> -->
	                <th width="5%">Cód.</th>
	                <th width="11%">Cidade</th> <!-- Cidade -->
	                <th width="12%">Cargo</th>   <!-- Cargo -->
	                <!-- <th width="5%">CH</th> -->
	                <th width="7%">Salário</th>   <!-- Faixa Saláriais -->
	                <th width="13%">Motivo da Cont.</th>   <!-- Motivo da Contratação -->
	                <th class="text-center" ng-repeat="m in ct.meses">{{m | date:'MMM/yy'}}</th>
	                <th widht="3%"></th>
	            </tr>

	            <tr ui-input-parent>
	                <!-- <th><input type="checkbox"></th> -->
	                <th></th>
	                <th>
	                    <select class="form-control" ng-model="ct.cargoNovo.Cidade" ng-options="f.Cidade as f.Cidade for f in ct.filiais track by f.Cidade" ng-keypress="ct.adicionaContratacao($event)">
	                    </select>
	                </th>
	                <th>
	                    <select class="form-control" ng-model="ct.cargoNovo.CargoNome" ng-options="c.CargoNome as c.CargoNome for c in ct.cargos" ng-keypress="ct.adicionaContratacao($event)">
	                        <!--<option value="">Cargo</option>-->
	                    </select>
	                </th>
	                <!-- <th>
	                    <select class="form-control" ng-model="ct.cargoNovo.CargaHoraria" ng-options="ch for ch in ct.cargoNovo.Cargo.CHs" ng-keypress="ct.adicionaContratacao($event)">
	                    </select>
	                </th> -->
	                <th>
	                    <input type="number" class="form-control" ng-model="ct.cargoNovo.Salario">
	                </th>
	                
	                <th>
	                    <select class="form-control" ng-model="ct.cargoNovo.MotivoContratacao" ng-options="motivo for motivo in ['Substituição','Aumento de Quadro']" ng-keypress="ct.adicionaContratacao($event)">
	                    </select>
	                </th>
	                <th ng-repeat="m in ct.meses">
	                    <input type="text" class="form-control text-center" ng-model="ct.cargoNovo.QtdaMensal[$index].Qtda" ng-pattern="/^\d{1,3}$/" required ui-input-child ng-keypress="ct.adicionaContratacao($event)">
	                </th>
	                <th><button class="btn btn-success btn-xs" style="margin-left:3px;"><i class="fa fa-plus" ng-click="ct.saveContratacao(ct.cargoNovo)"></i></button></th>
	            </tr>
	           

	        </thead>

	        <tbody>
	            <tr ng-repeat="c in ct.contratacoes">
	                <td>{{c.Codigo}}</td>
	                <td>{{c.Cidade}}</td>
	                <td>{{c.CargoNome}}</td>
	                <!-- <td>{{c.CargaHoraria}}</td> -->
	                <td>{{c.Salario}}</td>
	                <!-- <td>R$ {{c.Salario | number:2}}</td> -->
	                <td>{{c.MotivoContratacao}}</td>
	                <td ng-repeat="m in c.QtdaMensal" class="text-center">{{m.Qtda}}</td>
	                <td>
	                    <button class="btn btn-danger btn-xs">
	                        <i class="fa fa-remove" ng-click="ct.deleteContratacao(c.Codigo)"></i>
	                    </button>
	                </td>

	            </tr>
	        </tbody>
	    </table>
	    
	</form>
</div>