<div class="content">
    <div ng-if="ct.transfRecebidas.length > 0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Salário</th>
                    <th>CR de Destino</th>
                    <th>Data de Solicitação</th>
                    <th>Mês de Transf.</th>
                    <th>Status</th>
                    <th width="8%"></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="t in ct.transfRecebidas | orderBy:'-DataSolicitacao'">
                    <td>{{t.MatriculaFuncionario}}</td>
                    <td>{{t.NomeFuncionario}}</td>
                    <td>{{t.CargoNome}}</td>
                    <td>R$ {{t.Salario | number:2}}</td>
                    <td>{{t.CRDestino}}</td>
                    <td>{{t.DataSolicitacao | date:'dd-MM-yyyy'}}</td>
                    <td>{{t.MesTransferencia | date:'MMM/yy'}}</td>
                    <td>{{t.Status}}</td>
                    <td>
                        <div style="text-align: right;" ng-if="t.Aprovado === undefined">
                            <button class="btn btn-danger btn-xs pull-right" ng-click="ct.reprovarTransf(t)"><i class="fa fa-thumbs-down"></i></button>
                            <button class="btn btn-success btn-xs pull-right" ng-click="ct.aprovarTransf(t)"><i class="fa fa-thumbs-up"></i></button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div ng-if="ct.transfRecebidas.length <= 0">
        <h6>Nenhuma Transferência Recebida</h6>
    </div>
</div>