<div class="content-view">

	<h2 class="title">Módulos</h2>

	<div class="row">

		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="container-module-card">
				<a ui-sref="usuarios" class="module-card">
					<i class="fa fa-user-circle fa-3x"></i>
					<h5>Usuários</h5>
				</a>
			</div>
		</div>


		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="container-module-card">
				<a ui-sref="premissasEncargos" class="module-card">
					<i class="fa fa-database fa-3x"></i>
					<h5>Premissas</h5>
				</a>
			</div>
		</div>
		

		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="container-module-card">
				<a ui-sref="pthSubModulos" class="module-card">
					<span class="badge badge-danger" ng-hide="!ct.qtdaSolicitacoes">{{ct.qtdaSolicitacoes}}</span>
					<i class="fa fa-users fa-3x"></i>
					<h5>PTH - BP</h5>
				</a>
			</div>
		</div>

		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="container-module-card">
				<a ui-sref="pthGestorDashboard" class="module-card">
					<i class="fa fa-users fa-3x"></i>
					<h5>PTH - Gestor</h5>
				</a>
			</div>
		</div>


		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="container-module-card">
				<a ui-sref="orcamentoCiclos" class="module-card">
					<i class="fa fa-usd fa-3x"></i>
					<h5>Orçamento</h5>
				</a>
			</div>
		</div>

	</div>

</div>


