<table class="table table-sm">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>CH</th>
            <th>Data Admissão</th>
            <th width="15%">Mês Desligamento</th>
        </tr>
    </thead>
    <tbody>
        <form name="formPessoal">
            <tr ng-repeat="f in ct.funcionarios">
                <td>{{f.Matricula}}</td>
                <td>{{f.Nome}}</p></td>
                <td>{{f.CargoNome}}</p></td>
                <td>{{f.CargaHoraria}} h</td>
                <td>{{f.DataAdmissao | date:'dd/MM/yy'}}</td>
                <td>
                    <select class="form-control" ng-model="f.MesDesligamento" ng-options="(m | date:'MMM/yy') for m in ct.meses">
                        <option value="">(N/A)</option>
                    </select>
                </td>
            </tr>

        </form>
    </tbody>
</table>