<!-- Modal -->
<div class="modal fade" id="modalSolicitacaoContratacao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Solicitação de Contratação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                    	<div class="row">

					        <div class="col-md-6">
					            <div class="form-group">
					                <label for="inputEmpresa">Empresa</label>
					                <select id="inputEmpresa" class="form-control" ng-model="ct.novaContratacao.Empresa" ng-options="e.Nome as e.Nome for e in ct.empresas">
					                    <option value=''></option>
					                </select>
					            </div>
					        </div>

					        <div class="col-md-6">
					            <div class="form-group">
					                <label for="selectCRDestino">CR de destino</label>
					                <select id="selectCRDestino" class="form-control" ng-model="ct.novaContratacao.CodigoCR" ng-options="c.CodigoCR as c.CodigoCR for c in ct.crs">
					                    <option value=''></option>
					                </select>
					            </div>
					        </div>

					   	</div>

					   	<div class="row">

					        <div class="col-md-6">
					            <div class="form-group">
					                <label for="inputCidade">Cidade</label>
					                <select id="inputCidade" class="form-control" ng-model="ct.novaContratacao.Cidade" ng-options="c.Cidade for c in ct.filiais">
					                    <option value=''></option>
					                </select>
					            </div>
					        </div>

					        <div class="col-md-6">
					            <div class="form-group">
					                <label for="selectCargoContratacao">Cargo</label>
					                <select id="selectCargoContratacao" class="form-control" ng-model="ct.novaContratacao.CargoNome" ng-options="c.CargoNome as c.CargoNome for c in ct.cargos">
					                    <option value=''></option>
					                </select>
					            </div>
					        </div>


					    </div>


					    

					    <div class="row">

					        <div class="col-sm-3">
					            <div class="form-group">
					                <label for="selectCH">Carga Horária</label>
					                <select id="selectCH" class="form-control" ng-model="ct.novaContratacao.CargaHoraria">
					                    <option value=''></option>
					                    <option value='220'>220 h</option>
					                </select>
					            </div>
					        </div>

					        <div class="col-sm-3">
					            <div class="form-group">
					                <label for="inputSalarioContratacao">Salário</label>
					                <input id="inputSalarioContratacao" class="form-control" type="number" ng-model="ct.novaContratacao.Salario">
					            </div>
					        </div>

					        <div class="col-sm-3">
					            <div class="form-group">
					                <label for="inputQtdaContratacao">Qtda</label>
					                <input id="inputQtdaContratacao" class="form-control" type="number" ng-model="ct.novaContratacao.Qtda">
					            </div>
					        </div>

					        <div class="col-sm-3">
					            <div class="form-group">
					                <label for="inputDataPrevista">Data Prevista</label>
					                <input type="date" id="inputDataPrevista" class="form-control" ng-model="ct.novaContratacao.DataContratacao">
					            </div>
					        </div>


					    </div>

					    <div class="row">
					        <div class="col-md-12">
					            <div class="form-group">
					                <label for="textareaInfoAdicionaisContratacoes">Informações Adicionais</label>
					                <textarea id="textareaInfoAdicionaisContratacoes" placeholder="Digite aqui as observações e as informações adicionais" rows="3" class="form-control"></textarea>
					            </div>
					        </div>
					    </div>

					    <button class="btn btn-success btn-sm pull-right" data-dismiss="modal" ng-click="ct.solicitarContratacao(ct.novaContratacao)">Enviar Solicitação</button>


                    </div>
                </div>                  
            </div> 
        </div>
    </div>
</div>